*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#020817;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.screen{
  width:900px;
  height:500px;
  background:#07152e;
  border-radius:25px;
  padding:20px;
  position:relative;
}

.mobile-screen{
  width:450px;
  background:#07152e;
  padding:20px;
  border-radius:25px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.navigation-layout,
.charging-layout{
  display:flex;
  gap:20px;
}

.sidebar{
  width:220px;
  background:#081b3f;
  border-radius:20px;
  padding:15px;
}

.menu{
  background:#102852;
  padding:15px;
  border-radius:15px;
  margin-bottom:15px;
}

.map{
  flex:1;
  background:#0a1326;
  border-radius:20px;
  position:relative;
}

.route{
  width:400px;
  height:5px;
  background:#00ff88;
  position:absolute;
  top:200px;
  left:100px;
  transform:rotate(-15deg);
  border-radius:20px;
}

.pin{
  width:20px;
  height:20px;
  border-radius:50%;
  position:absolute;
}

.start{
  background:yellow;
  left:80px;
  top:220px;
}

.end{
  background:red;
  right:80px;
  top:120px;
}

.bottom-nav{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:70px;
  background:#081b3f;
  display:flex;
  justify-content:space-around;
  align-items:center;
  border-radius:0 0 25px 25px;
}

.active{
  color:#00e0ff;
}

.destination{
  background:#102852;
  padding:18px;
  border-radius:15px;
  margin-top:15px;
}

.continue-btn,
.start-btn{
  width:100%;
  padding:16px;
  border:none;
  background:#00d9ff;
  margin-top:20px;
  border-radius:15px;
  font-size:18px;
  font-weight:bold;
}

.charging-list{
  width:280px;
}

.station-card{
  background:#081b3f;
  padding:20px;
  border-radius:18px;
  margin-bottom:15px;
}

.route-box{
  background:#081b3f;
  border-radius:25px;
  padding:40px;
  margin-top:30px;
}

.step{
  display:flex;
  align-items:center;
  gap:15px;
  font-size:20px;
}

.dot{
  width:20px;
  height:20px;
  border-radius:50%;
}

.blue{
  background:#00e0ff;
}

.green{
  background:#00ff88;
}

.orange{
  background:orange;
}

.line{
  width:2px;
  height:40px;
  background:white;
  margin-left:9px;
}