<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Charging Routes</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div class="screen">

  <h1>Route to Charging Station</h1>

  <div class="route-box">

    <div class="step">

      <div class="dot blue"></div>
      Starting Location

    </div>

    <div class="line"></div>

    <div class="step">

      <div class="dot green"></div>
      Charging Station

    </div>

    <div class="line"></div>

    <div class="step">

      <div class="dot orange"></div>
      Destination

    </div>

    <button class="start-btn">
      Start Navigation
    </button>

  </div>

</div>

</body>
</html>