<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Charging Station</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div class="screen">

  <h1>Charging Stations</h1>

  <div class="charging-layout">

    <div class="map">

      <div class="route"></div>

    </div>

    <div class="charging-list">

      <div class="station-card">
        <h3>Vivacity EV Charger</h3>
        <p>Available</p>
      </div>

      <div class="station-card">
        <h3>The Spring Charger</h3>
        <p>Available</p>
      </div>

      <div class="station-card">
        <h3>Petronas EV Station</h3>
        <p>Available</p>
      </div>

    </div>

  </div>

</div>

</body>
</html>