<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Navigation Selection</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div class="mobile-screen">

  <h1>Select Destination</h1>

  <div class="destination">
    Vivacity Megamall
  </div>

  <div class="destination">
    The Spring
  </div>

  <div class="destination">
    Kuching Airport
  </div>

  <div class="destination">
    AEON Mall
  </div>

  <button class="continue-btn">
    Continue
  </button>

</div>

</body>
</html>