<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Navigation</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

<div class="screen">

  <div class="topbar">
    <h2>Navigation</h2>

    <div class="battery">
      <span>80%</span>
    </div>
  </div>

  <div class="navigation-layout">

    <div class="sidebar">

      <div class="menu">Search</div>
      <div class="menu">Recent</div>
      <div class="menu">Saved</div>
      <div class="menu">Charging</div>

    </div>

    <div class="map">

      <div class="route"></div>

      <div class="pin start"></div>
      <div class="pin end"></div>

    </div>

  </div>

  <div class="bottom-nav">

    <div>Home</div>
    <div class="active">Map</div>
    <div>Media</div>
    <div>Climate</div>
    <div>Phone</div>

  </div>

</div>

</body>
</html>